<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title align="center">login</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding>
    <div align="center" style="font-size: 100px"> 
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> 
    </div>
     
    <ion-list>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
        </ion-item>
      
      </ion-list>
      
      <div align ="center">
          <button ion-button round outline>Sign Up</button>
          <button ion-button round >Sign In</button>
      </div>
  </ion-content>


