<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title style="padding-left: 18%">My Account</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content  >
 <div align = "center" class="profile-box" >
   <div style="padding-top: 3%">
     <img class="profile-image" src="https://www.trickscity.com/wp-content/uploads/2017/09/cute-profile-pics-for-whatsapp-images.png" alt="">
    <h4>User name</h4>
    <p>ICT/MATH/PHY</p>
  </div>
  </div>
  <div class="row">
    <h3  class="col-lg-8"> Change Name </h3>  
    <div>
      <ion-fab >
          <button ion-fab mini ><ion-icon name="add"></ion-icon></button>
          <ion-fab-list align="center">
              <ion-item>
                  <ion-label floating>New Name</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
          </ion-fab-list>
        </ion-fab>
    </div>
        
  </div>
  <div class="row">
    <h3 class="col-lg-8" >Change Password    </h3>
    <div>
      <ion-fab >
        <button ion-fab mini ><ion-icon name="add"></ion-icon></button>
        <ion-fab-list align="center">
            <ion-item>
                <ion-label floating>Current Password</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating>New Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Confirm Password</ion-label>
                  <ion-input type="password"></ion-input>
              </ion-item>
              <button ion-button color="secondary" outline>Save</button>
            
        </ion-fab-list>
      </ion-fab>
    </div>
    
      
  </div>
  
</ion-content>

  
