page-profile {

    .profile-image{

        border-radius: 50%;
        width: 20vh;
        height: 20vh;
    }
    .profile-box{
        height: 40vh;
        width: 100%;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.38);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.38);


    }

}

