<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SignUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-stepper #stepper (selectIndexChange)="selectChange($event)">
    <ion-step label="Account information">
      <ion-item>
        <ion-label color="primary" stacked>e-Mail</ion-label>
        <ion-input type="email" placeholder="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Password</ion-label>
          <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Confirm password</ion-label>
        <ion-input type="email" placeholder="confirm password"></ion-input>
      </ion-item>
      <div style="height: 5vh;"></div>
      <button ion-button small ionicStepperNext>Next</button>
    </ion-step>
    <ion-step label="Personal information">
      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input type="name" placeholder="name"></ion-input>
      </ion-item>
        <ion-item>
        <ion-label style="color:rgb(72, 100, 253)">Gender</ion-label><br>
        <ion-select [(ngModel)]="gender">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item>
      <div style="height: 5vh;"></div>
    <button ion-button color="light" small ionicStepperPrevious>Previous</button> 
    <button ion-button small ionicStepperNext>Next</button>
  </ion-step>

  <ion-step label="University information">
    <ion-item>
      <ion-label color="primary" stacked>Index No</ion-label>
      <ion-input type="name" placeholder="index no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Combination</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="false">
        <ion-option>ICT/MATH/PHY/</ion-option>
        <ion-option>CS/MATH/PHY</ion-option>
        <ion-option>CS/MATH/STAT</ion-option>
        <ion-option>CS/STAT/PHY</ion-option>
      </ion-select>
    </ion-item>
    <div style="height: 5vh;"></div>
    <button ion-button color="light" small ionicStepperPrevious>Previous</button> 
    <button ion-button small ionicStepperNext>Next</button>
  </ion-step>
  <ion-step label="Final Step">

      <button ion-button >Register</button>
    </ion-step>
  </ion-stepper>
</ion-content>
