<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <div class="row col-lg-12">
        <div class= "col-lg-6"><ion-icon name="ionitron" style="color: rgb(53, 146, 245); font-size: 50px"></ion-icon> </div>
        <div class="col-lg-6" style="padding-top: 5%"> <ion-title> eveHandler</ion-title> </div>  
      </div>
      
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>  {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>